html, body {
    width: 100%;
    /*font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;*/
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    padding-left: 2em;
    font-size: 3em;
    width: 100%;
    border-bottom: 3px Gainsboro solid;

}

section.description {
    display: flex;
    align-items: center;
    margin: 5em 5em 0 5em;
}

section.form_section {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 5em 5em 0 5em;
}

label {
    margin: 1.5em 0 0.5em 0;
}

button {
    width: 20em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 5em;
}

article {
    margin: 0 5em 0 5em;
    font-size: 16pt;
}

img.select {
    width: 20em;
    height: 20em;
}
